# Build artifacts
*.exe
*.obj
*.ilk
*.pdb
*.idb
*.log
*.suo
*.user
*.vcxproj.user

# Visual Studio / CMake
.vs/
Debug/
Release/
build/

# OS files
.DS_Store
Thumbs.db

# Debug intermediate files
preprocessed.txt